* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    --bg-color-light: #f8f8f8;
    --bg-color-dark: #1c1d1f;

    --blog-bg-light: #ffffff;
    --blog-bg-dark: #1c1d1f;

    --nav-bg-light: #ffffff;
    --nav-bg-dark: #2c2c2c;

    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ee5466b8;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
::selection {
    background-color: #ee5466;
    color: white;
}
@keyframes loader {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
.scroll-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    background-color: #ee5466;
    color: white;
    box-shadow: 0px 0px 5px #ee5466;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease, opacity 1s ease;
    transform: scale(1);
    z-index: 1000;
    opacity: 1;
    @starting-style {
        opacity: 0;
        transform: scale(0.8);
    }
}
.scroll-top button {
    all: unset;
    font-size: 20px;
    display: flex;
}
@media (hover: hover) {
    .scroll-top:hover {
        background-color: #f0f0f0;
        color: #ee5466;
    }
    .scroll-top button {
        transition: transform 0.4s;
    }
    .scroll-top:hover button {
        transform: scale(1.4);
    }
}
.loaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-light);
    z-index: 1000;
}
.dark .loaderContainer {
    background-color: var(--bg-color-dark);
}
.loaderText {
    font-family: "Merriweather", serif;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
    width: fit-content;
    margin-inline: auto;
    position: relative;
}
.dark .loaderText {
    color: white;
}
.loaderText span {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: loader 2s infinite linear;
}
.loaderText::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    animation: loader 2.3s infinite linear;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial",
        sans-serif;
    background-color: var(--bg-color-light);
    transition: 0.3s;
    overflow-x: hidden;
}
.dark {
    background-color: var(--bg-color-dark);
}
.blogs:has(.emptyBlogs) {
    min-height: 57vh;
}
.blogs,
.blogPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 700px;
    margin-inline: auto;
    margin-block: 20px;
}
.blog .readMore {
    font-family: "Merriweather", serif;
    display: flex;
    align-items: center;
    color: #ee5467;
    cursor: pointer;
    transition: 0.3s;
}
.dark .blog .readMore {
    color: #8fe2d3;
}
.blogPage .backBtn {
    all: unset;
    position: relative;
    font-family: "Merriweather", serif;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    color: #333;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
}
.dark .blogPage .backBtn {
    color: white;
}
.blogPage .backBtn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0px;
    background-color: #333;
    transition: 0.3s;
}
.dark .blogPage .backBtn::before {
    background-color: white;
}
.blogPage .backBtn:hover::before {
    width: 100%;
}
.blogPage .backBtn:hover svg {
    animation: swing 1s infinite;
}
@keyframes swing {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(7px);
    }
    60% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
.blogPage .backBtn span {
    transition: 0.3s;
}
.blogPage .backBtn:hover span {
    color: #ee5467;
}
.blogPage > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 0;
}
.dark .blogPage > h2 {
    color: white;
}
@media (max-width: 827px) {
    .blogs,
    .blogPage,
    .likePage {
        max-width: 500px !important;
    }
    .emptyLiked {
        flex-direction: column;
        gap: 15px;
    }
    .emptyLiked img {
        width: 153px !important;
        margin-right: 0 !important;
        margin-bottom: 15px;
    }
    .emptyLiked span {
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width: 527px) {
    .blogs,
    .blogPage,
    .likePage {
        max-width: 420px !important;
    }
    .emptyBlogs {
        flex-direction: column;
        gap: 15px;
    }
    .emptyBlogs img {
        width: 153px !important;
        margin-right: 0 !important;
        margin-bottom: 15px;
    }
    .emptyBlogs span {
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width: 427px) {
    .blogs,
    .blogPage,
    .likePage {
        max-width: 350px !important;
    }
}
.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blog-bg-light);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 0px 3px #d3d4d7;
    transition: 0.3s;
}
@media (hover: hover) {
    .blogs .blog:hover {
        transform: translateY(-5px);
        box-shadow: 0px 0px 10px #d3d4d7;
    }
}
.dark .blog {
    background-color: var(--blog-bg-dark);
    color: white;
    border: 1px solid var(--blog-bg-dark);
}
.blog .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}
.blogPage .info {
    cursor: unset;
}
.blog .info span:first-of-type {
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    max-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.blogPage .info span:first-of-type {
    max-height: unset;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
}
.dark .blog .info span:first-of-type {
    color: white;
}
.blog .info span:last-of-type {
    font-family: "Merriweather", serif;
    /* color: #a3a1a1; */
    color: #928dae;
    font-size: 13px;
}
.blog p {
    max-height: 97px;
    text-wrap: pretty;
    font-size: 1rem;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    line-height: 1.5;
}
.blogPage p {
    text-overflow: unset;
    overflow: unset;
    max-height: unset;
    display: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    line-clamp: unset;
    line-height: 1.8;
}
.blog .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}
.blog .box {
    display: flex;
    align-items: center;
    gap: 18px;
}
.blog .box button {
    all: unset;
    font-size: 20px;
    cursor: pointer;
}
.blogs .links,
.blogPage .links {
    display: flex;
    gap: 10px;
    width: 177px;
    max-width: 177px;
    overflow: hidden;
    white-space: nowrap;
}
.blog .link,
.blogPage .link {
    font-family: "Merriweather", serif;
    background-color: #caf1eb87;
    color: #8fe2d3;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.blogs .links .link:nth-child(n + 4),
.blogPage .links .link:nth-child(n + 4) {
    display: none;
}
.likePage {
    margin-inline: auto;
    margin-block: 20px;
    max-width: 700px;
}
.empty {
    height: calc(89vh - 78px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likePage h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #333;
    text-wrap: pretty;
    text-align: center;
}
.dark .likePage h2 {
    color: white;
}
.likePage .row {
    display: flex;
}
.likePage .row:has(.emptyLiked) {
    height: calc(73vh - 71px);
}
.likePage .row .blogs {
    flex: 1;
}
.empty .emptyLiked {
    flex: 1;
    gap: 20px;
}
.empty .emptyLiked span {
    width: 300px;
}
.likePage .browseLink {
    font-family: "Merriweather", serif;
    color: #ee5467;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.emptyLiked,
.emptyBlogs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
}
.dark .emptyLiked,
.dark .emptyBlogs {
    color: white;
}
.emptyBlogs img,
.emptyLiked img {
    width: 193px;
    margin-right: 15px;
}
.emptyBlogs img {
    filter: drop-shadow(3px 3px 0);
}
.emptyLiked span,
.emptyBlogs span {
    font-family: "Merriweather", serif;
    text-wrap: pretty;
    width: 273px;
    font-size: 1.5rem;
}
.blogPage > .links {
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    max-width: 100%;
}
.blogPage > .links .link {
    display: inline-block !important;
    width: fit-content !important;
    border: 1px solid #8fe2d3;
}

/* message */
.message {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: fit-content;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    transform: translateX(-200%);
    transition: 0.5s;
    z-index: 1000;
}

.message.show {
    transform: translateX(0);
}
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* spinner */
.spinner {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #f8f8f8;
    z-index: 1000;
}
.spinner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-block-color: #ee5467;
    border-radius: 50%;
    animation: spin 2.3s infinite linear 0.3s;
    filter: drop-shadow(0 0 1px black);
}
.spinner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 5px solid #f3f3f3;
    border-inline-color: #f39c12;
    border-radius: 50%;
    animation: spin 1.5s infinite linear reverse;
}

@keyframes spin {
    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1.2);
    }
}
