@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    box-sizing: border-box;

    --bg-color-light: #f8f8f8;
    --bg-color-dark: #1c1d1f;

    --blog-bg-light: #ffffff;
    --blog-bg-dark: #1c1d1f;

    --nav-bg-light: #ffffff;
    --nav-bg-dark: #2c2c2c;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
body {
    margin: 0;
    font-family: "arial";
    /* background-color: #f0f2f5; */
    /* background-color: #ede8ee; */
    background-color: var(--bg-color-light);
    transition: 0.3s;
}
.dark {
    background-color: var(--bg-color-dark);
}
.blogs:has(.emptyBlogs) {
    min-height: 67vh;
}
.blogs,
.blogPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 700px;
    margin-inline: auto;
    margin-block: 20px;
}
.blogPage > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 0;
}
.dark .blogPage > h2 {
    color: white;
}
@media (max-width: 827px) {
    .blogs,
    .blogPage,
    .likePage {
        max-width: 500px !important;
    }
    .emptyLiked {
        flex-direction: column;
        gap: 15px;
    }
    .emptyLiked img {
        width: 153px !important;
        margin-right: 0 !important;
        margin-bottom: 15px;
    }
    .emptyLiked span {
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width: 527px) {
    .blogs,
    .blogPage,
    .likePage {
        max-width: 420px !important;
    }
    .emptyBlogs {
        flex-direction: column;
        gap: 15px;
    }
    .emptyBlogs img {
        width: 153px !important;
        margin-right: 0 !important;
        margin-bottom: 15px;
    }
    .emptyBlogs span {
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width: 427px) {
    .blogs,
    .blogPage,
    .likePage {
        max-width: 350px !important;
    }
}
.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blog-bg-light);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 0px 3px #d3d4d7;
    transition: 0.3s;
}
.blogs .blog:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px #d3d4d7;
}
.dark .blog {
    background-color: var(--blog-bg-dark);
    color: white;
    border: 1px solid var(--blog-bg-dark);
}
.blog .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}
.blogPage .info {
    cursor: unset;
}
.blog .info span:first-of-type {
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    max-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.blogPage .info span:first-of-type {
    max-height: unset;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
}
.dark .blog .info span:first-of-type {
    color: white;
}
.blog .info span:last-of-type {
    font-family: "Merriweather", serif;
    /* color: #a3a1a1; */
    color: #928dae;
    font-size: 13px;
}
.blog p {
    font-family: "Merriweather", serif;
    max-height: 93px;
    text-wrap: pretty;
    font-size: 1rem;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
}
.blogPage p {
    text-overflow: unset;
    overflow: unset;
    max-height: unset;
    display: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    line-clamp: unset;
}
.blog .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}
.blog .box {
    display: flex;
    align-items: center;
    gap: 18px;
}
.blog .box button {
    all: unset;
    font-size: 20px;
    cursor: pointer;
}
.blogs .links,
.blogPage .links {
    display: flex;
    gap: 10px;
    width: 177px;
    max-width: 177px;
    overflow: hidden;
    white-space: nowrap;
}
.blog .link,
.blogPage .link {
    font-family: "Merriweather", serif;
    width: 59px;
    background-color: #caf1eb87;
    color: #8fe2d3;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.blogs .links .link:nth-child(n + 4),
.blogPage .links .link:nth-child(n + 4) {
    display: none;
}
.likePage {
    margin-inline: auto;
    margin-block: 20px;
    max-width: 700px;
}
.likePage h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
}
.dark .likePage h2 {
    color: white;
}
.likePage .row {
    display: flex;
}
.likePage .row:has(.emptyLiked) {
    height: calc(73vh - 71px);
}
.likePage .row .blogs {
    flex: 1;
}
.emptyLiked,
.emptyBlogs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
}
.dark .emptyLiked,
.dark .emptyBlogs {
    color: white;
}
.emptyBlogs img,
.emptyLiked img {
    width: 193px;
    margin-right: 15px;
}
.emptyBlogs img {
    filter: drop-shadow(3px 3px 0);
}
.emptyLiked span,
.emptyBlogs span {
    font-family: "Merriweather", serif;
    text-wrap: pretty;
    width: 273px;
    font-size: 1.5rem;
}
.blogPage > .links {
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    max-width: 100%;
}
.blogPage > .links .link {
    display: inline-block !important;
    width: fit-content !important;
    border: 1px solid #8fe2d3;
}
