@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    box-sizing: border-box;

    --bg-color-light: #f8f8f8;
    --bg-color-dark: #1c1d1f;

    --blog-bg-light: #ffffff;
    --blog-bg-dark: #1c1d1f;

    --nav-bg-light: #ffffff;
    --nav-bg-dark: #2c2c2c;
}
body {
    margin: 0;
    font-family: "arial";
    /* background-color: #f0f2f5; */
    /* background-color: #ede8ee; */
    background-color: var(--bg-color-light);
    transition: 0.3s;
}
.dark {
    background-color: var(--bg-color-dark);
}
