body:has(.admin) {
    overflow: hidden;
}
.admin {
    display: flex;
    align-items: center;
}
.adminSideBar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    transition: 0.3s;
}
.contentMenu {
    position: relative;
    left: 25px;
    bottom: -15px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.667);
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}
.dark .contentMenu {
    background-color: #333;
}
.open .contentMenu {
    width: 100%;
    height: 122px;
}
.menuIcon {
    display: flex;
    background-color: #8fe2d3;
    color: #333;
    padding: 13px;
    border-radius: 50%;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
}
.open .menuIcon {
    transform: rotate(1turn);
}
.menuIcon svg {
    font-size: 25px !important;
}
.adminSideBar a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    padding-left: 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    transition: 0.3s;
}
.adminSideBar a:hover {
    background-color: #ddd;
}
.dark .adminSideBar a {
    color: white;
}
.dark .adminSideBar a:hover {
    background-color: #f6f7f90d;
}
.adminSideBar svg {
    font-size: 20px;
}
.adminContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: calc(93vh - 70px);
    margin-block: 32px;
    padding-inline: 20px;
}
.adminContent h2 {
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.dark .adminContent h2 {
    color: white;
}
/* stats */
.adminStats {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
}
.statsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.dark .statsContainer {
    background-color: #333;
    color: white;
}
.statsContainer h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}
.dark .statsContainer h2 {
    color: white;
}
.statsContainer .statsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.statsContainer .statsRow:nth-of-type(2) {
    flex-direction: column;
    align-items: baseline;
}
.statsContainer .graph {
    display: flex;
    width: 100%;
    height: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.dark .statsContainer .graph {
    border: 1px solid white;
}
.statsContainer .graph span {
    height: 100%;
    width: 0;
    transition: 0.3s;
    animation: grow 0.8s forwards;
}
.statsContainer .graph .withLinks {
    background-color: #8fe2d3;
    border-right: 1px solid #333;
}
.statsContainer .graph .withoutLinks {
    background-color: #ee5467;
}
@keyframes grow {
    to {
        width: var(--bar-width);
    }
}
.statsContainer .statsRow:last-of-type > span {
    display: flex;
    align-items: center;
    gap: 10px;
}
.statsContainer .statsRow:last-of-type > span::before {
    content: "🎯";
}
.statsContainer .statsRow:last-of-type > span::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
}
.statsContainer .statsRow:last-of-type > span:first-of-type:after {
    background-color: #8fe2d3;
}
.statsContainer .statsRow:last-of-type > span:last-of-type:after {
    background-color: #ee5467;
}
/* create blog */

.adminForm {
    background-color: var(--nav-bg-light);
    width: 80%;
    max-width: 800px;
    padding-inline: 20px;
    padding-block: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dark .adminForm {
    background-color: var(--nav-bg-dark);
}
@media (max-width: 512px) {
    .adminForm {
        width: 100%;
    }
}
.adminForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminForm .inputBox {
    display: flex;
    gap: 20px;
}
.adminForm label {
    font-size: 20px;
}
.dark .adminForm > form label {
    color: white;
}
.adminForm input[type="text"],
.adminForm input[type="url"],
.adminForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.adminForm .inputBox:has(input),
.adminForm .inputBox:has(button) {
    align-items: center;
}
.adminForm button {
    background-color: #ee5467;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
textarea {
    resize: none;
}
.linkForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 493px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding-top: 50px;
}
.dark .linkForm {
    color: white;
    background-color: #333;
}

@media (max-width: 512px) {
    .linkForm {
        width: 95%;
    }
}
.linkForm form {
    width: 100%;
}
.linkForm .close {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 27px;
    cursor: pointer;
}
/*  blog manager  */

.adminBlogs {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 600px;
}
.adminBlogs > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 36px;
}
.dark .adminBlogs h1 {
    color: white;
}
.adminBlogs .blogsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(80vh - 70px);
    overflow: hidden auto;
    padding-right: 10px;
    margin-right: -10px;
}
.adminBlogs .blogRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    min-height: fit-content;
}
.dark .adminBlogs .blogRow {
    background-color: #333;
}
.adminBlogs .blogRow > div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.adminBlogs .blogRow > div:first-of-type {
    cursor: pointer;
}
.adminBlogs .blogRow h2 {
    font-size: 1.3rem;
    margin: 0;
    color: #333;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}
@media (max-width: 512px) {
    .adminBlogs .blogRow h2 {
        max-width: 173px;
        font-size: 1.1rem;
    }
}
.dark .adminBlogs .blogRow h2 {
    color: white;
}
.adminBlogs .blogRow span {
    color: #333;
    background-color: #ee546657;
    padding: 5px 10px;
    border-radius: 5px;
}
.dark .adminBlogs .blogRow span {
    color: white;
    background-color: #ee5466;
}
.adminBlogs .blogRow button {
    background-color: #ee5467;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.adminBlogs .edit {
    position: absolute;
    width: 83%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
}
.adminBlogs .edit .close {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 27px;
    cursor: pointer;
}
.adminBlogs .edit form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.adminBlogs .edit .inputBox {
    display: flex;
    gap: 20px;
}
.adminBlogs .edit label {
    font-size: 20px;
}
.dark .adminBlogs .edit label {
    color: white;
}
.adminBlogs .edit input,
.adminBlogs .edit textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.adminBlogs .edit button {
    background-color: #ee5467;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
