.errorMessage {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(83vh - 71px);
    margin: 0.5rem 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}
.errorMessage img {
    width: 250px;
    margin: 0.5rem 0;
}
.dark .errorMessage {
    color: white;
}
.errorMessage h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.errorMessage p {
    text-wrap: pretty;
    line-height: 1.5;
    max-width: 480px;
    text-transform: capitalize;
}
