.errorMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(91vh - 71px);
    margin: 0.5rem 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}
.errorMessage img {
    width: 250px;
}
.dark .errorMessage {
    color: white;
}
.errorMessage h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.errorMessage p {
    font-family: "Merriweather", serif;
    text-wrap: pretty;
    line-height: 1.5;
    max-width: 480px;
}
.errorMessage .errorDetails {
    max-width: 580px;
}
.errorMessage .refresh {
    font-weight: 900;
    text-decoration: underline;
    color: #ee5467;
    cursor: pointer;
}
