.errorMessage {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    /* text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); */
    font-size: 0.8rem;
}
.errorMessage img {
    width: 250px;
    margin: 0.5rem 0;
}
.dark .errorMessage {
    color: white;
}
