.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(97vh - 71px);
    gap: 30px;
    margin-inline: 45px;
}
@media (max-width: 818px) {
    .home {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 0;
    }
    .home img {
        width: 200px !important;
        animation-play-state: paused !important;
    }
    .home h1 {
        margin-bottom: 30px !important;
        font-size: 1.8rem !important;
        text-align: left;
    }
    .home p {
        width: 100% !important;
        max-width: 484px;
    }
}
.home h1 {
    font-family: "montserrat", sans-serif;
    white-space: nowrap;
    font-size: 2.3rem;
    font-weight: 700;
    color: #333;
    margin: 0;
    margin-bottom: 40px;
}
.dark .home h1 {
    color: #fff;
}
.home p {
    text-wrap: pretty;
    width: 390px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}
@media (max-width: 457px) {
    .home p {
        max-width: 320px;
    }
}
.dark .home p {
    color: #aaa;
}
.home img {
    width: 283px;
    transition: 0.3s;
    animation: bounce 2.9s linear infinite;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-23px) scale(1.08);
    }
}
.start-btn {
    box-sizing: content-box;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    color: #333;
    text-decoration: underline;
    text-decoration-color: #ee5467;
    font-size: 1.2rem;
    width: 0ch;
    padding-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
    animation: write 1.5s steps(9) 1s infinite alternate;
}
@keyframes write {
    from {
        width: 0ch;
        padding-right: 0;
    }
    to {
        width: 10ch;
    }
}
.dark .start-btn {
    color: white;
}
.start-btn:hover {
    animation: none;
    width: 9ch;
    margin-left: 5px;
    color: #ee5467;
    transform: scale(1.1);
}
.start-btn::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #ee5467;
    bottom: 0;
    right: -2px;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.social {
    display: flex;
    align-items: center;
    gap: 20px;
}
.social a {
    all: unset;
    color: #333;
    display: flex;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
}
.dark .social a {
    color: #aaa;
}
.social a:hover {
    transform: scale(1.3);
}
@media (hover: hover) {
    .social .facebook:hover {
        color: #0866ff;
    }
    .social .instagram:hover {
        color: #e1306c;
    }
}
@media (hover: none) {
    .social .facebook {
        color: #0866ff !important;
    }
    .social .instagram {
        color: #e1306c !important;
    }
}
