.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: calc(87vh - 76px);
    gap: 44px;
    margin: 36px;
}
@media (min-width: 1037px) {
    .home {
        margin-inline: auto;
        max-width: 90vw;
        justify-content: space-around;
        margin-inline: 28px;
    }
    .home h1 {
        font-size: 54px !important;
    }
    .social a {
        font-size: 54px !important;
    }
    .home img {
        width: 320px !important;
    }
}

@media (max-width: 818px) {
    .home {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 0;
        height: calc(87vh - 76px);
    }
    .content {
        width: 100%;
    }
    .home img {
        width: 240px !important;
        animation-play-state: paused !important;
    }
    .home h1 {
        margin-top: 26px !important;
        margin-bottom: 18px !important;
        font-size: 32px !important;
        text-align: left;
    }
    .home p {
        width: 100% !important;
        max-width: 540px;
    }
}
@media (max-width: 458px) {
    .home {
        margin: 16px !important;
        margin-bottom: 0 !important;
        height: calc(96vh - 76px);
    }
}
.home h1 {
    font-family: "montserrat", sans-serif;
    white-space: nowrap;
    font-size: 40px;
    font-weight: 700;
    color: #1a1a1a;
    margin: 0;
    margin-top: 36px;
    margin-bottom: 20px;
}
.dark .home h1 {
    color: #fff;
}
.home p {
    text-wrap: pretty;
    width: 390px;
    font-size: 20px;
    line-height: 1.5;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}
@media (max-width: 457px) {
    .home p {
        max-width: 320px;
    }
}
.dark .home p {
    color: #aaa;
}
.home img {
    width: 283px;
    transition: 0.3s;
    animation: bounce 2.9s linear infinite;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-23px) scale(1.08);
    }
}
.start-btn {
    box-sizing: content-box;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    color: #1a1a1a;
    text-decoration: underline;
    text-decoration-color: #ee5467;
    font-size: 20px;
    width: 0ch;
    padding-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
    animation: write 1.5s steps(9) 1s infinite alternate;
}
@keyframes write {
    from {
        width: 0ch;
        padding-right: 0;
    }
    to {
        width: 10ch;
    }
}
.dark .start-btn {
    color: white;
}
.start-btn:hover {
    animation: none;
    width: 9ch;
    margin-left: 5px;
    color: #ee5467;
    transform: scale(1.1);
}
.start-btn::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #ee5467;
    bottom: 0;
    right: -2px;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.social {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 28px;
}
.social a {
    all: unset;
    color: #1a1a1a;
    display: flex;
    font-size: 44px;
    cursor: pointer;
    transition: 0.3s;
}
.dark .social a {
    color: #aaa;
}
.social a:hover {
    transform: scale(1.3);
}
@media (hover: hover) {
    .social .facebook:hover {
        color: #0866ff;
    }
    .social .instagram:hover {
        color: #e1306c;
    }
}
@media (hover: none) {
    .social .facebook {
        color: #0866ff !important;
    }
    .social .instagram {
        color: #e1306c !important;
    }
}
