.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: calc(93vh - 70px);
    margin: 0 auto;
}
.holder {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 28px;
    border-radius: 12px;
    width: 80vw;
    max-width: 520px;
}
.loginContainer h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a1a1a;
}
.dark .loginContainer h2 {
    color: white;
}
.loginContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}
.loginContainer .inputBox {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.loginContainer form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.loginContainer form label {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #1a1a1a;
}
.dark .loginContainer form label {
    color: white;
}
.loginContainer form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
