.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: var(--nav-bg-light);
    padding-inline: 25px;
    border-bottom: 1px solid #ccc;
}
.dark .nav {
    background-color: var(--nav-bg-dark);
    color: white;
}
.nav h2 {
    font-family: "montserrat", sans-serif;
    font-size: 27px;
    color: #333;
}
.dark .nav h2 {
    color: white;
}
li button,
li a {
    all: unset;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial",
        sans-serif;
    font-size: 23px;
    cursor: pointer;
}
a.active {
    color: #ee5467 !important;
}
.dark li a,
.dark li button {
    color: white;
}
.actions {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-block: 14px;
}
@media (max-width: 498px) {
    .nav {
        padding-inline: 15px;
    }
    .nav h2 {
        font-size: 20px;
    }
    .actions {
        gap: 10px;
        padding-left: 20px;
    }
    .submenu {
        top: 76px !important;
        right: 7px !important;
    }
}
.actions a,
.actions button {
    border-radius: 50%;
    padding: 9px;
    display: flex;
    transition: 0.3s;
}
.actions a:hover,
.actions button:hover {
    background-color: #f1f1f1;
}
.dark .actions a:hover,
.dark .actions button:hover {
    background-color: #f6f7f90d;
}
.searchIcon a {
    font-size: 28px;
}
.menu {
    font-size: 30px;
    transition: 0.3s;
}
.nav:has(.submenu.open) .menu {
    color: #ee5467;
    transform: rotate(0.5turn);
}
.submenu {
    position: absolute;
    top: 77px;
    right: 16px;
    background-color: var(--nav-bg-light);
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 200;
}
.dark .submenu {
    background-color: var(--nav-bg-dark);
    color: white;
}
.submenu.open {
    height: 105px;
    opacity: 1;
}
.submenu li {
    display: flex;
    justify-content: center;
    padding-inline: 10px;
    padding-block: 5px;
    border-bottom: 1px solid #ccc;
}
