.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: var(--nav-bg-light);
    padding-inline: 25px;
    border-bottom: 1px solid #ccc;
}
.dark .nav {
    background-color: var(--nav-bg-dark);
    color: white;
}
li button,
li a {
    all: unset;
    color: #333;
    font-family: "arial";
    font-size: 23px;
    cursor: pointer;
}
a.active {
    color: #ee5467 !important;
}
.dark li a,
.dark li button {
    color: white;
}
.actions {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-block: 14px;
}
@media (max-width: 416px) {
    .nav {
        padding-inline: 15px;
    }
    .actions {
        gap: 13px;
    }
}
.actions a,
.actions button {
    border-radius: 50%;
    padding: 9px;
    display: flex;
    transition: 0.3s;
}
.actions a:hover,
.actions button:hover {
    background-color: #f1f1f1;
}
.dark .actions a:hover,
.dark .actions button:hover {
    background-color: #f6f7f90d;
}
.searchIcon a {
    font-size: 28px;
}
